<div class="media">
  <div class="media-body">
    <small>
      User#<%= comment.user_id %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <%= link_to "Delete", [@area, comment], method: :delete %>
    </small>
    <p><%= comment.body %></p>
  </div>
</div>
