<h1>Your Account</h1>
<body>
  <% if user_signed_in? %>
    <div>Welcome, <strong><%= current_user.email %></strong></div>
    <div>Your username is: <strong><%= current_user.username %></strong></div>
    <div>Your user role is: <strong><%= current_user.role.capitalize %></strong></div>
    <div><%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-primary btnspace' %></div>
  <% else %>
    <div>You are not signed in.  Please click "Sign Up" or "Sign In" above</div>
  <% end %>
</body>
