<h1>About ClimbCast</h1>
<p>ClimbCast was created to address the inadequecies of modern weather
 websites in relation to rock climbing.  Even if the forecast looks great,
 the rock could be wet, snowy, or otherwise unclimbable.  ClimbCast seeks to
 fix that by providing user-submitted condition reports for select areas in
 the Southeast.  As ClimbCast grows, new areas will be continously added.
  Enjoy!</p>
