<h1>ClimbCast</h1>
<p>Your one stop solution to the age old question "Should I go climbing today or stay in and watch Netflix?"</p>

<h1>Choose an Area:</h1>

<% @areas.each do |area| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
          <%= link_to area.title, area %>
      </h4>
    </div>
  </div>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to "Add New Area", new_area_path, class: 'btn btn-success btnspace' %>
<% end %>
